.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.top {
  opacity: 0.8;
}

.bottom {
  flex: 1;
  font-size: 5rem;
  display: flex;
  align-items: center;
}

.bottom h1 {
  font-size: 5rem;
}
